<section class="editing data data_js">
    <form name="editing-data" action="/" class="editing__form editing__form-data">
        <div class="editing-data__wrapper">
            <label class="editing__label">
                <p class="editing__name">Email</p>
                <input type="email" class="editing__input editing__input-data_js" name="email">
            </label>
            <div class="editing__cell-50">
                <label class="editing__label editing__label-data">
                    <p class="editing__name">Name</p>
                    <input type="text" class="editing__input" name="name">
                </label>
                <label class="editing__label editing__label-data">
                    <p class="editing__name">Surname</p>
                    <input type="text" class="editing__input" name="surname">
                </label>
            </div>
            <div class="editing__cell-50">
                <label class="editing__label editing__label-data">
                    <p class="editing__name">Location</p>
                    <input type="text" class="editing__input" name="location">
                </label>
                <label class="editing__label editing__label-data">
                    <p class="editing__name">Age</p>
                    <input type="number" class="editing__input" name="age">
                </label>                
            </div>
            <div class="editing__cell-50">
                <label class="editing__label editing__label-data">
                    <p class="editing__name">Profile picture</p>
                    <input type="file" class="editing__input editing__input-file" name="picture">
                </label>
                <label class="editing__label editing__label-data">
                </label>
            </div>
        </div>
        <button class="editing__button" type="submit">Submit changes</button>
        <button class="editing__button-close exit__data-button_js" type="button" aria-label="exit">X</button>
    </form>
</section>
