<section class="editing password password_js">
    <form name="editing-password" action="/" class="editing__form editing__form-password">
        <div class="editing-wrapper">
            <label class="editing__label">
                <p class="editing__name">Old password <span class="editing__name-red">*</span></p>
                <input type="password" class="editing__input editing__input-password_js" name="old-password">
            </label>
            <label class="editing__label">
                <p class="editing__name">New password <span class="editing__name-red">*</span></p>
                <input type="password" class="editing__input" name="new-password">
            </label>
            <label class="editing__label">
                <p class="editing__name">Repeat new password <span class="editing__name-red">*</span></p>
                <input type="password" class="editing__input" name="repeat-password">
            </label>
        </div>
        <button class="editing__button" type="submit">Change password</button>
        <button class="editing__button-close exit__password-button_js" type="button" aria-label="exit">X</button>
    </form>
</section>