<section class="mobile mobile-menu__js">
    <button class="mobile__button-close js_button-close-menu" aria-label="close-menu">X</button>
    <nav class="mobile__navigation">
        <ul class="mobile__list">
            <li class="mobile__item">
                <a class="mobile__item-link" href="/index.html">Home</a>
            </li>
        </ul>
        <ul class="mobile__list">
            <li class="mobile__item">
                <a class="mobile__item-link" href="/pages/my-blog/">My blog</a>
            </li>
        </ul>
        <ul class="mobile__list">
            <li class="mobile__item">
                <a class="mobile__item-link" href="#">Sign in</a>
            </li>
        </ul>
        <ul class="mobile__list">
            <li class="mobile__item">
                <a class="mobile__item-link" href="#">Register</a>
            </li>
        </ul>
        <ul class="mobile__list">
            <li class="mobile__item">
                <a class="mobile__item-link" href="/pages/my-profile/">My profile</a>
            </li>
        </ul>
    </nav>
</section>