@import "../colors";
@import "../vars";
@import "../mixins";

.profile {
    &__block {
        margin: 40px 0 93px;
        display: flex;

        @include media_interval(0, $media_mobile) {
            display: block;
        }
    }

    &__data {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }

    &__list {
        margin-bottom: 20px;
    }

    &__item {
        margin-bottom: 20px;
        font-family: "Gilroy", Arial, sans-serif;
        font-size: 18px;
        font-weight: 500;
        line-height: 21px;
    }

    &__text {
        margin-right: 15px;
        font-family: "Gilroy", Arial, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
    }

    &__data-button {
        margin-bottom: 20px;
    }
}

.nofoto {
    min-width: 320px;
    min-height: 450px;
    margin: -15px 105px 0 -15px;

    @include media_interval($media_mobile, $media_tablet) {
        margin: -15px 76px 0 -15px;
    }

    @include media_interval(0, $media_mobile) {
        min-width: 280px;
        margin: -15px 0 25px -15px;
    }
}