<section class="profile container">
    <h1 class="h1-header">My profile</h1>
    <div class="profile__block">
        <div class="profile__foto"></div>
        <div class="profile__data">
            <ul class="profile__list">
                <li class="profile__item"><span class="profile__text">Name:</span>Oksana</li>
                <li class="profile__item"><span class="profile__text">Surname:</span>Larioshkina</li>
                <li class="profile__item"><span class="profile__text">Email:</span>larioshkina@gmail.com</li>
                <li class="profile__item"><span class="profile__text">Password:</span>**********</li>
                <li class="profile__item"><span class="profile__text">Location:</span>Tolyatti</li>
                <li class="profile__item"><span class="profile__text">Age:</span>23</li>
            </ul>
            <button class="profile__data-button button">Change password</button>
            <button class="profile__data-button button">Change other data</button>
            <button class="profile__data-button button">Delete account</button>
        </div>
    </div>
</section>
