@import "../colors";
@import "../vars";
@import "../mixins";

.portfolio {
    background-color: $c_grey--wild-sand;
    padding: 0.5px 220px;
    margin-top: 64px;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;

    &__slider {
        margin: 50px 0 60px;
    }    

    &__picture {
        width: 100%;
        height: 100%;
    }
}

.swiper{
    &-container {
        max-width: 1000px;
        min-height: 604px;  
        z-index: 0;
    } 

    &-button-prev {
        color: $c_black--panter;
        font-weight: 900;
        width: 25px;
        height: 42px;
        left: 30px;
    }

    &-button-next {
        color: $c_black--panter;
        font-weight: 900;
        width: 25px;
        height: 42px;
        right: 30px;
    }

    &__bottom {
        position: absolute;
        bottom: 1px;
        background-color: rgba($c_black--deep, 0.85);
        padding: 31px 0;
        width: 100%;
        align-items: center;
        display: flex;
        flex-direction: column;
        z-index: 1;

        &-link {
            font-family: "Gilroy", Arial, sans-serif;
            font-size: 18px;
            font-weight: 500;
            line-height: 21px;
            color: $c_white;
            margin-bottom: 16px;
            border-bottom: 1px dashed $c_white;

            &:hover,
            &:focus {
                border-bottom: 1px solid $c_white;
                cursor: pointer;
            }
        }

        &-text {
            font-family: "Gilroy", Arial, sans-serif;
            font-size: 14px;
            font-weight: 500;
            line-height: 16px;
            color: $c_white;
            max-width: 400px;
        }
    }
}