@import "../colors";
@import "../vars";
@import "../mixins";

.skills {
    align-items: center;
    display: flex;
    flex-direction: column;

    &__text {
    font-family: "Gilroy", Arial, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 21px;
    text-align: center;
    margin: 20px 0 50px;
    }

    &__list {
        display: flex;
        justify-content: space-between;

        @include media_interval(0, $media_tablet) {
            flex-wrap: wrap;
        }
    }

    &__item {
        text-align: center;

        @include media_interval($media_mobile, $media_tablet) {
            max-width: 147px;
            margin-bottom: 44px;
        }

        @include media_interval(0, $media_mobile) {
            max-width: 130px;
            margin-bottom: 44px;
        }

        &-programm {
            font-family: "Gilroy", Arial, sans-serif;
            font-size: 14px;
            font-weight: 700;
            line-height: 17px;
            text-align: center;
            color: $c_grey--text;
            margin: 20px 0 28px;
        }

        &-progress {
            display: flex;
            align-items: center;
            margin: 0 12px;

            @include media_interval(0, $media_tablet) {
                margin: 0 10px;
            }
            
            &-number {
                font-family: "Gilroy", Arial, sans-serif;
                font-size: 14px;
                font-weight: 700;
                line-height: 17px;
                text-align: left;
                color: $c_grey--text;
                margin-right: 12px;

                @include media_interval(0, $media_tablet) {
                    margin-right: 10px;
                }
            }

            &-bar {
                max-width: 142px;
                height: 9px;
                background-color: transparent;

                @include media_interval($media_mobile, $media_tablet) {
                    max-width: 111px;
                }

                @include media_interval(0, $media_mobile) {
                    max-width: 94px;
                }

                &::-webkit-progress-bar {
                    border: none;            
                    max-width: 142px;
                    height: 9px;            
                    background-color: $c_grey--mercury;
                }

                &::-webkit-progress-value {
                    border: none;            
                    width: 142px;
                    height: 9px;            
                    background-color: $c_black;
                }
            }     
        }
    }    
}