<section class="skills container">
    <h2 class="h2-header">Skills</h2>
    <p class="skills__text">I work in such programs as</p>
    <ul class="skills__list">
        <li class="skills__item">
            <picture>
                <source srcset="/static/images/html5.png, /static/images/html5-2.png 2x">
                <img class="scills__picture" srcset="/static/images/hrml5.png" alt="html5-picture">
            </picture>
            <p class="skills__item-programm">HTML 5</p>
            <div class="skills__item-progress">
                <span class="skills__item-progress-number">85%</span>
                <progress class="skills__item-progress-bar" value="85" max="100"></progress>
            </div>
        </li>
        <li class="skills__item">
            <picture>
                <source srcset="/static/images/css3.png, /static/images/css3-2.png 2x">
                <img class="scills__picture" srcset="/static/images/css3.png" alt="css3-picture">
            </picture>
            <p class="skills__item-programm">CSS/SCSS</p>
            <div class="skills__item-progress">
                <span class="skills__item-progress-number">55%</span>
                <progress class="skills__item-progress-bar" value="55" max="100"></progress>
            </div>
        </li>
        <li class="skills__item">
            <picture>
                <source srcset="/static/images/js.png, /static/images/js-2.png 2x">
                <img class="scills__picture" srcset="/static/images/js.png" alt="js-picture">
            </picture>
            <p class="skills__item-programm">JavaScript</p>
            <div class="skills__item-progress">
                <span class="skills__item-progress-number">5%</span>
                <progress class="skills__item-progress-bar" value="5" max="100"></progress>
            </div>
        </li>
        <li class="skills__item">
            <picture>
                <source srcset="/static/images/git.png, /static/images/git-2.png 2x">
                <img class="scills__picture" srcset="/static/images/git.png" alt="git-picture">
            </picture>
            <p class="skills__item-programm">Git/GitHub</p>
            <div class="skills__item-progress">
                <span class="skills__item-progress-number">15%</span>
                <progress class="skills__item-progress-bar" value="15" max="100"></progress>
            </div>
        </li>
        <li class="skills__item">
            <picture>
                <source srcset="/static/images/figma.png, /static/images/figma-2.png 2x">
                <img class="scills__picture" srcset="/static/images/figma.png" alt="figma-picture">
            </picture>
            <p class="skills__item-programm">Figma</p>
            <div class="skills__item-progress">
                <span class="skills__item-progress-number">80%</span>
                <progress class="skills__item-progress-bar" value="80" max="100"></progress>
            </div>
        </li>
    </ul>
</section>