<section class="filter container">
    <div class="filter__wrapper">
        <h1 class="h1-header">My blog</h1>
        <button class="burger__button-open-menu js_button-open-menu"><img class="burger" src="/static/images/burger.svg"></button>
    </div>
    <div class="filter__block">
        <form class="filter__block-form form_js">
            <div class="filter__block-form-wrapper">
                <fieldset class="filter__block-tags">
                    <legend class="filter__block-name">Tags</legend>
                    <div class="filter__block-tags-list tags-box_js"></div>
                </fieldset>
                <fieldset class="filter__block-views">
                    <legend class="filter__block-name">Views</legend>
                    <ul class="filter__block-views-list">
                        <li class="filter__block-views-item">
                            <label class="filter__block-views-label">
                                <input class="filter__block-views-input hidden" name="views" type="radio" value="100-500">
                                <span class="filter__block-views-text">100-500</span>
                            </label>
                        </li>
                        <li class="filter__block-views-item">
                            <label class="filter__block-views-label">
                                <input class="filter__block-views-input hidden" name="views" type="radio" value="500-1000">
                                <span class="filter__block-views-text">500-1000</span>
                            </label>
                        </li>
                        <li class="filter__block-views-item">
                            <label class="filter__block-views-label">
                                <input class="filter__block-views-input hidden" name="views" type="radio" value="1000-2000">
                                <span class="filter__block-views-text">1000-2000</span>
                            </label>
                        </li>
                    </ul>
                </fieldset>
                <fieldset class="filter__block-comments">
                    <legend class="filter__block-name">Comments</legend>               
                    <ul class="filter__block-comments-list">
                        <li class="filter__block-comments-item">
                            <label class="filter__block-comments-label">
                                <input class="filter__block-comments-input hidden" name="comments" type="checkbox" value="0">
                                <span class="filter__block-comments-text">0</span>
                            </label>
                        </li>
                        <li class="filter__block-comments-item">
                            <label class="filter__block-comments-label">
                                <input class="filter__block-comments-input hidden" name="comments" type="checkbox" value="0-1">
                                <span class="filter__block-comments-text">0-1</span>
                            </label>
                        </li>
                        <li class="filter__block-comments-item">
                            <label class="filter__block-comments-label">
                                <input class="filter__block-comments-input hidden" name="comments" type="checkbox" value="1-50">
                                <span class="filter__block-comments-text">1-50</span>
                            </label>
                        </li>
                    </ul>
                </fieldset>
                <fieldset class="filter__block-shows">
                    <legend class="filter__block-name">How show?</legend>
                    <ul class="filter__block-shows-list">
                        <li class="filter__block-shows-item">
                            <label class="filter__block-shows-label">
                                <input class="filter__block-shows-input hidden" name="shows" type="radio" value="5">
                                <span class="filter__block-shows-text">show 5</span>
                            </label>
                        </li>
                        <li class="filter__block-shows-item">
                            <label class="filter__block-shows-label">
                                <input class="filter__block-shows-input hidden" name="shows" type="radio" value="10">
                                <span class="filter__block-shows-text">show 10</span>
                            </label>
                        </li>
                    </ul>
                </fieldset>
                <fieldset class="filter__block-sort">
                    <legend class="filter__block-name">Sort by</legend>
                    <ul class="filter__block-sort-list">
                        <li class="filter__block-sort-item">
                            <label class="filter__block-sort-label">
                                <input class="filter__block-sort-input hidden" name="sort" type="radio" value="date">
                                <span class="filter__block-sort-text">date</span>
                            </label>
                        </li>
                        <li class="filter__block-sort-item">
                            <label class="filter__block-sort-label">
                                <input class="filter__block-sort-input hidden" name="sort" type="radio" value="title">
                                <span class="filter__block-sort-text">title</span>
                            </label>
                        </li>
                        <li class="filter__block-sort-item">
                            <label class="filter__block-sort-label">
                                <input class="filter__block-sort-input hidden" name="sort" type="radio" value="views">
                                <span class="filter__block-sort-text">views</span>
                            </label>
                        </li>
                    </ul>
                </fieldset>
                <fieldset class="filter__block-reset">
                    <legend class="filter__block-name filter__block-name-pale">reset form</legend>
                    <button class="filter__button button" type="reset">Reset</button>
                </fieldset>    
            </div>
            <section class="search">
                <form class="search__form" action="/">
                    <input class="search__input" type="text" name="title">
                    <button class="search__button button" type="submit">Search</button>
                </form>
            </section>        
        </form>                
    </div>
</section>