@import "../colors";
@import "../vars";
@import "../mixins";

.modal {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background-color: rgba($c_grey--wild-sand, 0.99);
    
    &__form {
        background: $c_white;
        padding: 40px;
        display: flex;
        flex-direction: column;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border: 2px solid $c_black;
        justify-content: space-between;

        &-sign {            
            max-width: 370px;
            width: 100%;
            min-height: 318px;
        }

        &-register {
            max-width: 680px;
            width: 100%;
            min-height: 533px;
        }

        &-message {
            max-width: 680px;
            width: 100%;
            min-height: 540px;
        }
    }

    &__cell-50 {
        display: flex;
        margin: 0 -10px;
    }

    &__label {  
        position: relative;

        :hover {
            border-color: $c_grey--text;
            cursor: pointer;
        }

        :active {
            border-color: $c_black--panter;
        }

        &-register {
            width: 100%;
            margin: 0 10px;
        }
    }

    &__name {
        font-family: "Gilroy", Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        text-align: left;
        margin-bottom: 6px;

        &-red {
            color: $c_red--fire;
        }
    }

    &__input {
        border: 2.5px solid $c_grey--mercury;
        height: 50px;
        width: 100%;
        margin-bottom: 20px;                       
        transition:  $tr_duration $tr_easing;
    }

    &__textarea {
        max-width: 600px;
        width: 100%;
        height: 150px;
        background: $c_white;
        border: 2.5px solid $c_grey--mercury;
        box-sizing: border-box;
        padding: 14px 20px;
        font-family: "Gilroy", Arial, sans-serif;
        font-size: 14px;
        font-weight: 500;
        line-height: 16px;
        transition:$tr_duration $tr_easing;
        margin-bottom: 20px;
    }

    &__consent {
        margin: 20px 0 21px;
        font-family: "Gilroy", Arial, sans-serif;
        font-size: 14px;
        line-height: 16px;
        color: #1E0606; 
        align-items: center;
        display: block;

        &__input:focus ~ .clicking-button {
            outline: auto;
        }
    }

    input:checked ~ .modal__clicking-button::after{
        opacity: 1;
    }

    &__clicking-button {
        padding-left: 33px;
        display: flex;
        align-items: center;
        position: relative;
        height: 17px;

        &::before{
            position: absolute;
            content: '';
            top: -1px;
            left: 0;
            width: 19px;
            height: 19px;
            border: 2px solid black;
            box-sizing: border-box;
            border-radius: 3px;

            @include media_interval(0, $media_mobile) {
            width: 17px;
            height: 17px;
            top: -10px;
            }
        }
        
        &::after{
            position: absolute;
            content: '';
            top: 2px;
            left: 5px;
            width: 12px;
            height: 7px;
            border-left: 2px solid;
            border-bottom: 2px solid;
            transform: rotate(-55deg);
            color: black;
            opacity: 0;
            transition: opacity 0.3s;

            @include media_interval(0, $media_mobile) {
            top: -9px;
            left: 4px;
            }
        }
    }   

    &__button {
        padding: 8px 19px;
        background-color: transparent;
        border: 2.5px solid #070707;
        box-sizing: border-box;
        border-radius: 30px;
        height: 42px;
        align-self: flex-start;
        font-family: "Gilroy", Arial, sans-serif;
        font-size: 18px;
        font-weight: 700;
        line-height: 22px;
        text-align: center; 
        transition: $tr_duration $tr_easing;

        &:hover,
        &:focus {
            background-color: $c_black--panter;
            cursor: pointer;
            color: $c_white;
        }

        &-close {
            position: absolute;
            right: -30px;
            top: 0;
            border: none;
            background-color: transparent;
            padding: 0;
        }
    }
}

.sign {
    display: none;

    &_open {
        display: block;
    }
}

.register {
    display: none;

    &_open {
        display: block;
    }
}

.message {
    display: none;

    &_open {
        display: block;
    }
}