<section class="modal register register_js">
    <form action="/" class="modal__form modal__form-register">
        <div class="modal-wrapper">
            <label class="modal__label">
                <p class="modal__name">Email <span class="modal__name-red">*</span></p>
                <input type="email" class="modal__input modal__input-register_js" name="email">
            </label>
            <div class="modal__cell-50">
                <label class="modal__label modal__label-register">
                    <p class="modal__name">Name <span class="modal__name-red">*</span></p>
                    <input type="password" class="modal__input" name="password">
                </label>
                <label class="modal__label modal__label-register">
                    <p class="modal__name">Surname <span class="modal__name-red">*</span></p>
                    <input type="password" class="modal__input" name="password">
                </label>
            </div>
            <div class="modal__cell-50">
                <label class="modal__label modal__label-register">
                    <p class="modal__name">Password <span class="modal__name-red">*</span></p>
                    <input type="password" class="modal__input" name="password">
                </label>
                <label class="modal__label modal__label-register">
                    <p class="modal__name">Repeat password <span class="modal__name-red">*</span></p>
                    <input type="password" class="modal__input" name="password">
                </label>                
            </div>
            <div class="modal__cell-50">
                <label class="modal__label modal__label-register">
                    <p class="modal__name">Location <span class="modal__name-red">*</span></p>
                    <input type="password" class="modal__input" name="password">
                </label>
                <label class="modal__label modal__label-register">
                    <p class="modal__name">Age <span class="modal__name-red">*</span></p>
                    <input type="password" class="modal__input" name="password">
                </label>
            </div>
            <label class="modal__consent">
                <input class="hidden modal__consent-input" name="consent" type="checkbox" value="consent">
                <span class="modal__clicking-button">Clicking on the button, you consent to the processing of your personal data.</span>
            </label>
        </div>
        <button class="modal__button" type="submit">Sign up</button>
        <button class="modal__button-close exit__register-button_js" type="button" aria-label="exit">X</button>
    </form>
</section>
