<section class="modal message message_js">
    <form name="modal-message" action="/" class="modal__form modal__form-message">
        <div class="modal-wrapper">
            <div class="modal__cell-50">
                <label class="modal__label modal__label-register">
                    <p class="modal__name">What is your name? <span class="modal__name-red">*</span></p>
                    <input type="text" class="modal__input modal__input-message_js" name="name">
                </label>
                <label class="modal__label modal__label-register">
                    <p class="modal__name">Message subject <span class="modal__name-red">*</span></p>
                    <input type="text" class="modal__input" name="message-subject">
                </label>
            </div>
            <div class="modal__cell-50">
                <label class="modal__label modal__label-register">
                    <p class="modal__name">Your Email <span class="modal__name-red">*</span></p>
                    <input type="email" class="modal__input" name="email">
                </label>
                <label class="modal__label modal__label-register">
                    <p class="modal__name">Your mobile phone <span class="modal__name-red">*</span></p>
                    <input type="tel" class="modal__input" name="mobile-phone">
                </label>                
            </div>
            <label class="modal__label">    
                <p class="modal__name">What do you want to discuss with me?<span class="modal__name-red">*</span></p>
                <textarea class="modal__textarea" name="message" cols="30" rows="10"></textarea>
            </label>
            <label class="modal__consent">
                <input class="hidden modal__consent-input" name="consent" type="checkbox" value="consent">
                <span class="modal__clicking-button">Clicking on the button, you consent to the processing of your personal data.</span>
            </label>
        </div>
        <button class="modal__button" type="submit">Send</button>
        <button class="modal__button-close exit__message-button_js" type="button" aria-label="exit">X</button>
    </form>
</section>
