<section class="modal sign sign_js">
    <form name="modal-sign" action="/" class="modal__form modal__form-sign">
        <div class="modal-wrapper">
            <label class="modal__label">
                <p class="modal__name">Email <span class="modal__name-red">*</span></p>
                <input type="email" class="modal__input modal__input-sign_js" name="email">
            </label>
            <label class="modal__label">
                <p class="modal__name">Password <span class="modal__name-red">*</span></p>
                <input type="password" class="modal__input" name="password">
            </label>
        </div>
        <button class="modal__button" type="submit">Log in</button>
        <button class="modal__button-close exit__sign-button_js" type="button" aria-label="exit">X</button>
    </form>
</section>
