@import "../colors";
@import "../vars";
@import "../mixins";

.header {      

    @include media_interval(0, $media_mobile) {
        display: none;
    }

    &__navigation {
        display: flex;
        justify-content: space-between;
        margin-top: 33px;
        padding-bottom: 33px;
        border-bottom: 1px solid $c_grey--text;

        &-list {
            display: flex;
        }

        &-item {
            margin-left: 20px;
        }

        &-link {
            font-family: "Gilroy", Arial, sans-serif;
            font-weight: 400;
            color: $c_grey--text;
            font-size: 18px;
            line-height: 22px;
            transition: color $tr_duration $tr_easing;

            &:hover,
            &:focus {
                color: $c_black--panter;
                cursor: pointer;
            }
        }

        &-button {
            font-family: "Gilroy", Arial, sans-serif;
            font-weight: 400;
            color: $c_grey--text;
            font-size: 18px;
            line-height: 22px;
            background-color: transparent;
            border: none;
            transition: color $tr_duration $tr_easing;

            &:hover,
            &:focus {
                color: $c_black--panter;
                cursor: pointer;
            }
        }
    }    

    &__home-button {
        font-family: "Gilroy", Arial, sans-serif;
        font-weight: 700;
        color: $c_black--panter;
        font-size: 18px;
        line-height: 22px;
    }
}

