@import "./colors";
@import "./vars";
@import "./mixins";

body { 
    font-family: "Open Sans", Arial, sans-serif;
  }
  
a { 
  text-decoration: none; 
}

html { 
  box-sizing: border-box; 
}

*, 
*::before, 
*::after { 
  box-sizing: inherit; 
}

img { 
  max-width: 100%; 
}

.container {
  max-width: 1300px;
  padding: 0 60px;
  margin: 0 auto;

  @include media_interval(0, $media_tablet) {
    padding: 0 45px 0 60px;
  }

  @include media_interval(0, $media_mobile) {
    padding: 0 20px;
  }
}
  
/* Main */

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  will-change: 1px !important;
  overflow: hidden;
}

h1 {
  font-family: "Montserrat", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: $c_black;
  margin-bottom: 15px;

  @include media_interval($media_mobile, $media_tablet) {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 10px;
  }

  @include media_interval(0, $media_mobile) {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
  }
}

.button {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  background-color: $c_black--deep;
  color: $c_white;
  border: none;
  padding: 9px 24px;    
  transition:$tr_duration $tr_easing;

  @include media_interval(0, $media_mobile) {
    font-size: 14px;
    line-height: 19px;
    padding: 8px 22px;
  }

  &:focus {
    outline-color: $c_beige--dark;
    outline-style: solid;
    outline-width: 2px;
  }
  
  &:hover {
    background-color: $c_beige--dark;
    cursor: pointer;
  }
  
  &:active {
    background-color: $c_beige--dark;
    opacity: .5;
  }
  
  &:disabled {
    background-color: $c_grey;
    color: $c_grey--light;
  }

} 

.breadcrumbs{
  font-family: "Crimson Text", Arial, sans-serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: $c_black;
  list-style-type: none;
  padding-left: 0;
  display: flex;
  margin: 15px 20px 38px 0;

  @include media_interval($media_mobile, $media_tablet) {
    margin-top: 10px;
    margin-bottom: 19px;
  }

  @include media_interval(0, $media_mobile) {
    font-size: 16px;
    line-height: 20px;
    margin-top: 11px;
    margin-bottom: 10px;
  }

  &__nav {    
    color: $c_black;
    margin-right: 20px;

    @include media_interval(0, $media_mobile) {
      margin-right: 15px;
    }
  }
  
  &__last {
    opacity: .5;
  }

  &__vector {
    @include media_interval(0, $media_mobile) {
      width: 6px;
      height: 9px;
    }
  }
}  

