// Подключение компонентов

@import "./header/header";
@import "./avatar/avatar";
@import "./about-me/about-me";
@import "./skills/skills";
@import "./portfolio/portfolio";
@import "./footer/footer";
@import "./profile/profile";
@import "./modal/modal";
@import "./mobile-menu/mobile-menu";
@import "./button-scroll/button-scroll";
@import "./profile-editing/profile-editing";
@import "./filter/filter";
@import "./search-bar/search-bar";
@import "./blog/blog";
@import "./blog-pagination/blog-pagination";

body { 
  font-family: "Gilroy", Arial, sans-serif;
}

a { 
  text-decoration: none; 
  font-family: "Gilroy", Arial, sans-serif;
}

html { 
  box-sizing: border-box; 
}

*, 
*::before, 
*::after { 
  box-sizing: inherit; 
}

img { 
  max-width: 100%; 
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

.container {
  max-width: 1480px;
  padding: 0 220px;
  margin: 0 auto;

  @include media_interval(0, $media_tablet) {
    padding: 0 60px;
  }

  @include media_interval(0, $media_mobile) {
    padding: 0 20px;
  }
}

/* Main */

.hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  will-change: 1px !important;
  overflow: hidden;
}

h1,h2,h3,h4,h5,h6 {
  margin: 0;
}

h1 {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 47px;
  line-height: 56px;
  color: $c_black--panter;
  margin-top: 40px;

  @include media_interval($media_mobile, $media_tablet) {
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 10px;
  }

  @include media_interval(0, $media_mobile) {
    font-size: 24px;
    line-height: 29px;
    margin-bottom: 10px;
  }
}

h2 {
  font-family: "Gilroy", Arial, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 34px;
  line-height: 42px;
  color: $c_black--panter;
  margin-top: 60px;
}

h3 {
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 29px;
  text-align: left;
  color: $c_black--panter;
}

.button {
  padding: 10px 19px;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 22px;
  background-color: $c_white;
  color: $c_black--panter;
  border-radius: 30px;
  transition: $tr_duration $tr_easing;

  @include media_interval(0, $media_mobile) {
    font-size: 14px;
    line-height: 19px;
    padding: 8px 22px;
  }

  &:hover,
  &:focus {
    background-color: $c_black--panter;
    cursor: pointer;
    color: $c_white;
  }

  &:active {
    background-color: $c_beige--dark;
    opacity: .5;
  }

  &:disabled {
    background-color: $c_grey;
    color: $c_grey--light;
  }
} 

.is-invalid {
  border-color: $c_red--pomegranate;

  &:hover,
  &:focus {
    border-color: $c_red--pomegranate;
    cursor: pointer;
  }
}

.invalid-feedback {
  color: $c_red--pomegranate;
  display: flex;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  margin-top: -16px;
  margin-bottom: 5px;
}

.is-normal {
  border-color: $c_green--malachite;

  &:hover,
  &:focus {
    border-color: $c_green--malachite;
    cursor: pointer;
  }
}

.normal-feedback {
  color: $c_green--malachite;
  display: flex;
  font-family: "Gilroy", Arial, sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  text-align: left;
  margin-top: -16px;
  margin-bottom: 5px;
}


