<section class="footer container">
    <h2 class="h2-header">Contacts</h2>
    <p class="footer__text">Want to know more or just chat?<br>You are welcome!</p>
    <button class="footer__button button__message-open_js">Send message</button>
    <ul class="footer__list">
        <li class="footer__item">
            <a class="footer__contacts" href="#">Instagram</a>
        </li>
        <li class="footer__item">
            <a class="footer__contacts" href="#">Vk</a>
        </li>
        <li class="footer__item">
            <a class="footer__contacts" href="#">Telegram</a>
        </li>
        <li class="footer__item">
            <a class="footer__contacts" href="#">Mail</a>
        </li>
        <li class="footer__item">
            <a class="footer__contacts" href="#">GitHub</a>
        </li>
        <li class="footer__item">
            <a class="footer__contacts" href="#">Phone</a>
        </li>
    </ul>
    <p class="footer__bottom-text">Design by
        <a class="footer__bottom-link" href="#">DL Academy</a>
        <br>Program code from Antonina
    </p>
</section>